## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.

vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temperature,Current Description,Latitude,Longitude,Hotel Name
0,1,Hithadhoo,MV,81.64,light rain,-0.6000,73.0833,Scoop Guest House
1,2,Paita,PE,75.54,broken clouds,-5.0892,-81.1144,Hotel Náutico de Paita
2,4,Hermanus,ZA,64.99,broken clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
3,5,Mataura,NZ,70.48,clear sky,-46.1927,168.8643,Ellie's Villa
4,7,Begoro,GH,70.84,scattered clouds,6.3871,-0.3774,MR ODAME
5,8,Touros,BR,78.80,few clouds,-5.1989,-35.4608,INN NEW HORIZON
6,12,Airai,TL,63.90,overcast clouds,-8.9266,125.4092,Juvinal Martin
7,14,Hilo,US,73.40,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel
8,16,Ribeira Grande,PT,61.07,overcast clouds,38.5167,-28.7000,Quinta da Meia Eira
9,18,Avarua,CK,84.20,light rain,-21.2078,-159.7750,Paradise Inn

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt><Max Temp</dt><dd>{Max Temperature}F/dd

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Latitude", "Longitude"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
max_temp=vacation_df["Max Temperature"]
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=max_temp,dissipating=False,point_radius=1.5,max_intensity=300)
marker_layer=gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Lebu")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Lebu")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Rawson")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Viedma")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Talcahuano")] 
vacation_start

,City_ID,City,Country,Max Temperature,Current Description,Latitude,Longitude,Hotel Name
35,70,Lebu,CL,57.04,overcast clouds,-37.6167,-73.65,Hostal Las Lilas

In [22]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start=vacation_start["Latitude"].to_numpy()[0],vacation_start["Longitude"].to_numpy()[0]
end=vacation_end["Latitude"].to_numpy()[0],vacation_end["Longitude"].to_numpy()[0]
stop1=vacation_stop1["Latitude"].to_numpy()[0],vacation_stop1["Longitude"].to_numpy()[0]
stop2=vacation_stop2["Latitude"].to_numpy()[0],vacation_stop2["Longitude"].to_numpy()[0]
stop3=vacation_stop3["Latitude"].to_numpy()[0],vacation_stop2["Longitude"].to_numpy()[0]

In [24]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig=gmaps.figure()
vacation=gmaps.directions_layer(start,end,waypoints=(stop1,stop2,stop3),travel_mode="DRIVING")
fig.add_layer(vacation)
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temperature,Current Description,Latitude,Longitude,Hotel Name
0,70,Lebu,CL,57.04,overcast clouds,-37.6167,-73.6500,Hostal Las Lilas
1,70,Lebu,CL,57.04,overcast clouds,-37.6167,-73.6500,Hostal Las Lilas
2,410,Rawson,AR,57.38,clear sky,-43.3002,-65.1023,Hosteria Sampedro
3,306,Viedma,AR,57.99,clear sky,-40.8135,-62.9967,Hotel Cristal
4,351,Talcahuano,CL,57.20,fog,-36.7167,-73.1167,Hotel Terramar

In [28]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather description</dt><dd>{Current Description}</dd>
<dt>Max Temperature</dt><dd>{Max Temperature}</dd>
<dt>Weather Description</dt><dd>{Current Description}F</dd>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Latitude", "Longitude"]]

In [29]:
# 11a. Add a marker layer for each city to the map.
max_temp=itinerary_df["Max Temperature"]
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer=gmaps.heatmap_layer(locations,weights=max_temp,dissipating=False,point_radius=1.5,max_intensity=300)
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))